<% layout('layouts/boilerplate') %>

    <div class="row text-white text-center">
        <h1 class="fs-1 mb-4">
            <%= game.course %>
        </h1>
        <div class="d-flex justify-content-evenly w-75 m-auto align-items-center">
            <h3>Date:
                <% const options={ year: 'numeric' , month: 'numeric' , day: 'numeric' , timeZone: 'UTC' }; const
                    formattedDate=new Date(game.date).toLocaleDateString(undefined, options); %>
                    <%= formattedDate %>
            </h3>
            <h3>Final Score: <%= calculateTotalScore(game) %>
            </h3>
        </div>

        <table class="table table-bordered table-striped table-dark fs-4 m-auto col-12 col-md-6">
            <thead class="table-light">
                <tr>
                    <th scope="col">Hole #</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=1; i <=9; i++) { %>
                    <tr>
                        <td scope="row">
                            Hole <%= i %>
                        </td>
                        <td>
                            <%= game['hole' + i] %>
                        </td>
                    </tr>
                    <% } %>
                        <% let allZeros=true; %>
                            <% for (let i=10; i <=18; i++) { %>
                                <% if (game['hole' + i] !==0) { %>
                                    <% allZeros=false; %>
                                        <% } %>
                                            <% } %>
                                                <% if (!allZeros) { %>
                                                    <% for (let i=10; i <=18; i++) { %>
                                                        <tr>
                                                            <td scope="row">
                                                                Hole <%= i %>
                                                            </td>
                                                            <td>
                                                                <%= game['hole' + i] %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% } %>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center mt-4 gap-5">
        <a class="card-link btn btn-primary fs-4" href="/games/<%= game._id %>/edit">Edit</a>
        <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger fs-4">Delete</button>
        </form>
    </div>

    <!-- Function to get total score -->
    <% function calculateTotalScore(game) { let totalScore=0; for (let i=1; i <=18; i++) { totalScore +=game['hole' +
        i]; } return totalScore; } %>